@model List<Competitor>

<h1>Competitors</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Weight</th>
            <th>Category</th>
            <th>Total Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var competitor in Model)
        {
            <tr>
                <td>@competitor.CompetitorFirstName</td>
                <td>@competitor.CompetitorLastName</td>
                <td>@competitor.Weight</td>
                <td>@competitor.Category.Name</td>
                <td>@competitor.TotalScore</td>
                <td><a href="@Url.Action("Edit", new { id = competitor.CompetitorId })">Edit</a></td>
                <td><a href="@Url.Action("Delete", new { id = competitor.CompetitorId })">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")">Create New</a>
